[flake8]
select = ANN,B,B9,BLK,C,E,F,W,I,S
ignore = E203,E501,W503,ANN101,S404
# mccabe complexity checker
max-complexity = 10
max-line-length = 90
# local imports
application-import-names = kak_plugins,tests
import-order-style = pep8
# allow asserts in tests
per-file-ignores =
    tests/learning/test_subprocess.py:S,ANN
    tests/*:S101,ANN
